<%- include('header'); -%>

    <h1>this is about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vitae exercitationem magnam laboriosam facere deserunt neque ipsa doloremque temporibus itaque.</p>
    <%- include('footer'); -%>